#central{
    display: grid;
    align-content: flex-start;
    grid-template-columns: auto 1fr;
    font-family: sans-serif;
    margin: 0 auto;
    gap: 10px 5px;
}

#form {
    margin: 50px;
    padding: 20px;
    background-color: #fadadd;
}

#comment {
    min-height: 30vh;
    min-width: 60vw;
}

#sending {
    visibility: hidden;
    transition: transform 5s;
}

#sending.move {
    transform: translateX(50vw);
}