#central{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 50px;
    padding: 20px;
}

#form {
    display: grid;
    align-content: flex-start;
    grid-template-columns: auto 1fr;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #fadadd;
    gap: 10px 5px;
}

#comment {
    min-height: 30vh;
    min-width: 60vw;
}

#sending {
    visibility: hidden;
    transition: transform 5s;
}

#sending.move {
    transform: translateX(50vw);
}

ol, li  {
    list-style: none;
}

@media(max-width: 1230px) {
    #central {
        margin: 0px;
    }
}