#central{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: sans-serif;
}

#form {
    
}

#comment {
    min-height: 30vh;
    min-width: 60vw;
}

#sending {
    visibility: hidden;
    transition: transform 5s;
}

#sending.move {
    transform: translateX(50vw);
}

ol, li  {
    list-style: none;
}

