.link {
    list-style-type: none;
}

.link > a {
    font-size: 5em;
    background-color: #fadadd;
    text-decoration: none;
    color: black;
}

.link > a:hover {
    background-color: lightgray;
}

#other-left {
    flex-basis: 200px;
}