#central{
    display: grid;
    align-content: flex-start;
    grid-template-columns: auto 1fr;
    font-family: sans-serif;
    margin: 0 auto;
    gap: 10px 5px;
}

#form {
    margin: 50px;
}

#comment {
    min-height: 500px;
    min-width: 800px;
}