#central{
    display: grid;
    align-content: flex-start;
    grid-template-columns: auto 1fr;
    font-family: sans-serif;
    margin: 0 auto;
    gap: 10px 5px;
}

#ask-button{
    grid-column: 2;
    justify-self: start;
}

#name, #name-id {
    margin-top: 10px;
}

#name, #email, #question {
    justify-self: start;
    width: 70vw;
}

#centra > label{
    justify-self: end;
}

#question {
    height: 300px;
}