#central{
    display: grid;
    grid-template-columns: auto 1fr;
}

#ask-button{
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

#name, #email, #question {
    align-self: left;
}

#centra > label{
    align-self: right;
}