#grid{
    display: grid;
    align-content: flex-start;
    grid-template-columns: auto 1fr;
    font-family: sans-serif;
    margin: 0 auto;
    gap: 10px 5px;
}

#post-button{
    grid-column: 2;
    justify-self: start;
}

#name, #name-id {
    margin-top: 10px;
}

#name, #comment {
    justify-self: start;
    width: 70vw;
}

#central > label{
    justify-self: end;
}

#comment {
    height: 300px;
}

#central {
    flex-grow: 1;
}

