#central {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

#central > button {
    height: 10em;
    width: 10em;
}

#central > button > a{
    text-decoration: none;
}