#central {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.link {
    list-style-type: none;
}

.link > a {
    font-size: 5em;
    background-color: pink;
    text-decoration: none;
    color: black;
}

.link > a:hover {
    background-color: white;
}